In [1]:
import os
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers.embeddings import Embedding
from keras.layers import Dropout
from keras.preprocessing import sequence
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

import re
import gc
import scipy

Using TensorFlow backend.

In [2]:
os.getcwd()
os.chdir("C:\\Users\\srita\\Python\\Kaggle\\Mercari Price Challenge")

In [3]:
#Read the data
df = pd.read_csv("train.tsv",delimiter='\t',encoding='utf-8')

In [4]:
# Sample the data to speed up computation
df = df.sample(frac=0.1, random_state=10)

df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
774893,774893,Mario and luigi,1,Kids/Toys/Dress Up & Pretend Play,NaN,18.0,1,Girls costumes. I can separate or i will sell ...
431736,431736,Air Jordan Baron 9,3,Men/Shoes/Athletic,Jordan,91.0,0,Sz 10.5 Good preowned condition Includes origi...
1482299,1482299,Dooney & Bourke Wallet,3,Women/Women's Accessories/Wallets,Dooney & Bourke,20.0,1,D&B wallet with credit card slots and back coi...
764342,764342,Lululemon Floral Waistband Speed Tights,3,"Women/Athletic Apparel/Pants, Tights, Leggings",Lululemon,66.0,0,This is a pair of size 6 speed tights in great...
781985,781985,American Eagle Top,2,Women/Athletic Apparel/Shirts & Tops,American Eagle,19.0,0,AEO off the shoulder top size XL

In [5]:
# Drop missing values
df.dropna(inplace=True)

df.dropna(inplace=True)
df.head(10)
df.set_index('train_id')

#df['Good Condition'] = np.where(df['item_condition_id'] > 2, 1,0)

,name,item_condition_id,category_name,brand_name,price,shipping,item_description
train_id,,,,,,,
431736,Air Jordan Baron 9,3,Men/Shoes/Athletic,Jordan,91.0,0,Sz 10.5 Good preowned condition Includes origi...
1482299,Dooney & Bourke Wallet,3,Women/Women's Accessories/Wallets,Dooney & Bourke,20.0,1,D&B wallet with credit card slots and back coi...
764342,Lululemon Floral Waistband Speed Tights,3,"Women/Athletic Apparel/Pants, Tights, Leggings",Lululemon,66.0,0,This is a pair of size 6 speed tights in great...
781985,American Eagle Top,2,Women/Athletic Apparel/Shirts & Tops,American Eagle,19.0,0,AEO off the shoulder top size XL
590192,Nike crop leggings size medium,3,"Women/Athletic Apparel/Pants, Tights, Leggings",Nike,12.0,1,Black and white pattern Gently used condition ...
1244225,Victoria's Secret Makeup Bag - NEW!,1,Women/Women's Handbags/Cosmetic Bags,Victoria's Secret,7.0,1,Includes: Victoria's Secret Makeup Bag - New w...
1308385,Starbucks holiday cozy cup sleeve,1,Home/Kitchen & Dining/Coffee & Tea Accessories,Starbucks,8.0,1,Perfect holiday gift that goes great with a mu...
124724,Lego 76040 Brainiac Attack,1,Kids/Toys/Building Toys,LEGO,37.0,1,No description yet
605273,Clinique HAPPY perfume gift set,1,Beauty/Fragrance/Women,Clinique,80.0,1,Free priority shipping included! Super deluxe ...
1184451,Women's Pink Tee Shirt From Aeropostale,2,Women/Tops & Blouses/T-Shirts,Aeropostale,8.0,1,"Women's, size large pink tee shirt from Aer0p0..."
901971,North face backpack,2,Sports & Outdoors/Apparel/Accessories,The North Face,52.0,1,"Never used, just don't need it Works great for..."
55717,Littlest pet shop lps animals,3,Kids/Toys/Action Figures & Statues,Littlest Pet Shop,10.0,0,Comes with all shown. In slight played with co...
468415,Lilly Pulitzer Sample Shorts,3,Women/Athletic Apparel/Shorts,Lilly Pulitzer,49.0,0,Size small. Pom Poms on bottom starting to com...
246641,Louis Vuitton Emilie Wallet,2,Women/Women's Accessories/Wallets,Louis Vuitton,304.0,0,Authentic Guaranteed. Perfect condition. Used ...
240863,Denim Jacket,3,Women/Coats & Jackets/Jean Jacket,Jou Jou,15.0,1,No description yet
459158,NEW Twisted Peppermint Liplicious,1,Beauty/Makeup/Lips,Bath & Body Works,8.0,1,SEALED 2016! Free shipping
913893,Mario Badescu Seaweed Night Cream,3,Beauty/Skin Care/Face,Sephora,6.0,1,There's about half of the product left in the ...
1246592,Tony hawk American wasteland,3,Electronics/Video Games & Consoles/Games,Xbox,7.0,0,No description yet
575409,Make offers!! MISS me jeans size 28!,3,Women/Jeans/Boot Cut,Miss Me,31.0,0,In good condition except one of the back jewel...
612050,VS Very Sexy halter unlined bra 36C,1,Women/Underwear/Bras,Victoria's Secret,20.0,1,New with tags 36C
1006124,Tory Butch Reva flats,3,Women/Shoes/Flats,Tory Burch,49.0,0,Tory Butch Reva flats in reddish/orange. Size ...
686653,Glade Bundle,1,Home/Home Décor/Home Fragrance,Glade,13.0,0,No description yet
316019,Girls Gap French Cat Long Sleeve Top,2,Kids/Girls (4+)/Tops & T-Shirts,Gap,6.0,1,"SIZE:12 FREE SHIPPING,,,, FREE SHIPPING,,,, Th..."
1360568,Pink sandals,1,Women/Shoes/Sandals,PINK,24.0,0,"Victoria's secret pink sandals. ""Beach Please""..."
999228,Tony Hawk Pro Skater Nintendo 64 N64,3,Vintage & Collectibles/Electronics/Video Game,Nintendo,11.0,1,TRACK YOUR PACKAGE We usually ship within 2 da...
752682,Baby swim suit 3-6months / FREESHIP,3,Kids/Boys 0-24 Mos/Swimwear,Disney,9.0,1,Mickey Mouse swim trunks and rash guard. Purch...
63178,Fiona Stiles Sheer Sculpting Palette,4,Beauty/Makeup/Makeup Palettes,Sephora,15.0,1,Fiona Stiles Sheer Sculpting Palette in Light/...
10923,Bath and body 3 wick candle,1,Beauty/Fragrance/Candles & Home Scents,Bath & Body Works,17.0,0,Mahogany teakwood. New and smells awesome
937215,Rae Dunn Nope Grrrr Mugs (Set of 2),1,Home/Kitchen & Dining/Coffee & Tea Accessories,Rae Dunn,22.0,0,***Will package with great care!*** There may ...
40624,Gymshark Flex Leggings,2,Women/Jeans/Leggings,Gymshark,39.0,0,Worn twice new condition size Medium
...,...,...,...,...,...,...,...
1205583,Girl Dog clothes,3,Other/Pet Supplies/Dogs,PetSmart,11.0,0,"All are size small, fits chihuahuas up to ~9 lbs."
535500,Bbw for men 3 piece set,1,Beauty/Bath & Body/Sets,Bath & Body Works,25.0,1,Bath and body works for men 3 piece set. 3 2 i...
1406331,Black Friday box,1,Vintage & Collectibles/Toy/Action Figure,Funko,30.0,1,yellow power ranger. Everything is still unwra...
511755,Pink bundle,1,Beauty/Fragrance/Women,Victoria's Secret,21.0,0,Includes 1 perfume and 2 lotions Scents are: F...
1103030,Clinique Acne Solution,3,Beauty/Skin Care/Face,Clinique,27.0,0,Clarifying lotion has a little more than half ...
920452,Reebok Nano Web,3,Women/Shoes/Athletic,Reebok,36.0,0,Reebok Nano Web training sneakers. Orange and ...
1113315,Michael Kors Parker MK watch MK5925,1,Women/Women's Accessories/Watches,Michael Kors,120.0,1,LAST 1! Authentic MK5925 Model: Parker Retail:...
1124651,FREE SHIPPING! h&m navy dress,2,Women/Dresses/Knee-Length,H&M,12.0,1,Beautiful polka dot navy dress. Hardly used. T...
86200,Lane Bryant size 24 black dress pants,3,Women/Pants/Dress Pants,Lane Bryant,13.0,0,Excellent used condition. Smoke free home.
875186,Brooch Pin,1,Vintage & Collectibles/Jewelry/Brooch,Chanel,33.0,1,Brooch Pin
1166181,HTF Canada Dog,3,Vintage & Collectibles/Collectibles/Doll,PINK,84.0,0,Victoria's Secret Pink Canada Dog See photos o...
1404111,Scentsy Warmer Snow Day bundle,1,Home/Home Décor/Home Fragrance,Scentsy,112.0,0,"Snow day Warmer, also Christmas tree warmer an..."
979341,Victoria secret bombshell,1,Beauty/Fragrance/Women,Victoria's Secret,25.0,1,Perfume 3.4 fl oz new with tags
1464226,MK camo wallet Michael Kors wallet,3,Women/Women's Accessories/Wallets,Michael Kors,55.0,0,Michael Kors Camouflage wallet. Hard to find. ...
972415,NEW PRICE! Gray and Black Pink Duffle,1,Women/Women's Handbags/Totes & Shoppers,PINK,23.0,1,"Brand new, gray duffle with black handles and ..."
1124291,Men's American Eagle Jeans,2,"Men/Jeans/Slim, Skinny",American Eagle,18.0,0,Men's American Eagle Jeans size 30x32 skinny
1059826,Boys Football Forearm Sleeves,2,Sports & Outdoors/Apparel/Boys,Under Armour,14.0,0,Under Armour OSFA Youth Black w/ Gray Brand Ne...
53855,Lularoe OS polka dots,2,"Women/Athletic Apparel/Pants, Tights, Leggings",LuLaRoe,16.0,1,New w/on tag LLR O/S leggings lavender w/ whit...
839336,American Eagle Denim Distressed Vest,2,Women/Coats & Jackets/Vest,American Eagle,22.0,1,"Brand New without tag, never used Size Medium ..."
1367645,Victoria's Secret Crossbody Bag,1,Women/Women's Handbags/Messenger & Crossbody,Victoria's Secret,18.0,1,Enjoy free shipping weekend! Ends Sunday night...
12635,White converse,4,Women/Shoes/Fashion Sneakers,Converse,18.0,0,No description yet
580929,Motorola Smart Nursery Humidifier,1,Kids/Health & Baby Care/Humidifiers & Vaporizers,Motorola,60.0,1,Help your baby breathe easy and sleep soundly ...
435862,VICTORIA SECRET PINK SHORTS,2,Women/Athletic Apparel/Shorts,PINK,20.0,0,BOOTY SHORTS IN GREAT CONDITION MOSTLY FOR SLE...
412159,VS PINK add to bundle,1,Women/Tops & Blouses/T-Shirts,Victoria's Secret,25.0,1,PRICE FIRM ‼️ Don't ask me for the lowest pric...
37061,Ibrahimovic Jersey,4,Men/Athletic Apparel/Jerseys,Nike,15.0,1,Decent quality Ibrahimovic Jersey. Free Shipping!
663109,Grey izod bra 40D,3,Women/Underwear/Bras,IZOD,10.0,0,Barely worn bra with thick cushy straps and un...
220626,(L) Nike Joggers,3,"Women/Athletic Apparel/Pants, Tights, Leggings",Nike,20.0,0,"GUC Oversized Cropped No holes, odors or stain..."
1395182,Brand new 10k gold ring,1,Women/Jewelry/Rings,Stamped,57.0,1,This is a brand new 10k white gold 2mm wedding...
945090,Marmeep 10/21,3,Kids/Toys/Dolls & Accessories,Accessory Workshop,30.0,1,"Girls Build A Bear clothes, footwear and acces..."
16806,Louis Vuitton White Monograph Wallet,1,Men/Men's Accessories/Wallets,Louis Vuitton,59.0,0,"Box, bag, and papers included"

In [6]:
Y = df['price']

In [7]:
mx = np.max(Y)
print(mx)

2009.0

In [8]:
val = np.array([0.2,1.4,2.4,4.5,8,9,2.2])
bins_set = pd.cut(val, 3,labels = ['small', 'medium','high'])

In [9]:
bins_df = pd.DataFrame(val,bins_set)

In [10]:
bins_df

          0
small   0.2
small   1.4
small   2.4
medium  4.5
high    8.0
high    9.0
small   2.2

In [11]:
test = np.array(range(7))
bins_df['test'] = test
bins_df

          0  test
small   0.2     0
small   1.4     1
small   2.4     2
medium  4.5     3
high    8.0     4
high    9.0     5
small   2.2     6

In [12]:
price_bins = pd.cut(Y, 10, labels = ['LVLow','UVLow','LLow','ULow','LMedium','UMedium','LHigh','UHigh','LVHigh','UVHigh'])

In [13]:
df['price_bins'] = price_bins

In [14]:
print("Number of items less than 200",len(df.loc[(df['price_bins'] == 'LVLow')]))
print("Number of items between 200 and 400",len(df.loc[(df['price_bins'] == 'UVLow')]))
print("Number of items between 400 and 600",len(df.loc[(df['price_bins'] == 'LLow')]))
print("Number of items between 600 and 800",len(df.loc[(df['price_bins'] == 'ULow')]))
print("Number of items between 800 and 1000",len(df.loc[(df['price_bins'] == 'LMedium')]))
print("Number of items between 1000 and 1200",len(df.loc[(df['price_bins'] == 'UMedium')]))
print("Number of items between 1200 and 1400",len(df.loc[(df['price_bins'] == 'LHigh')]))
print("Number of items between 1400 and 1600",len(df.loc[(df['price_bins'] == 'UHigh')]))
print("Number of items between 1600 and 1800",len(df.loc[(df['price_bins'] == 'LVHigh')]))
print("Number of items between 1800 and above",len(df.loc[(df['price_bins'] == 'UVHigh')]))

Number of items less than 200 83767
Number of items between 200 and 400 675
Number of items between 400 and 600 109
Number of items between 600 and 800 28
Number of items between 800 and 1000 16
Number of items between 1000 and 1200 6
Number of items between 1200 and 1400 3
Number of items between 1400 and 1600 2
Number of items between 1600 and 1800 0
Number of items between 1800 and above 4

In [15]:
df.columns

Index(['train_id', 'name', 'item_condition_id', 'category_name', 'brand_name',
       'price', 'shipping', 'item_description', 'price_bins'],
      dtype='object')

In [16]:
X = df.drop('train_id', axis=1)
X = df.drop('name',axis=1)

In [17]:
X.drop('train_id',axis=1,inplace=True)

In [18]:
#X is a dataframe contains required predictors, (item_condition_id, category_name, brand_name, price, shipping, item_description)
#Create a new data frame X_noprice without price, including price_bins categorical
X_noprice = X.drop('price',axis=1)

In [19]:
X.head()
X_noprice.head()

,item_condition_id,category_name,brand_name,shipping,item_description,price_bins
431736,3,Men/Shoes/Athletic,Jordan,0,Sz 10.5 Good preowned condition Includes origi...,LVLow
1482299,3,Women/Women's Accessories/Wallets,Dooney & Bourke,1,D&B wallet with credit card slots and back coi...,LVLow
764342,3,"Women/Athletic Apparel/Pants, Tights, Leggings",Lululemon,0,This is a pair of size 6 speed tights in great...,LVLow
781985,2,Women/Athletic Apparel/Shirts & Tops,American Eagle,0,AEO off the shoulder top size XL,LVLow
590192,3,"Women/Athletic Apparel/Pants, Tights, Leggings",Nike,1,Black and white pattern Gently used condition ...,LVLow

In [20]:
X_noprice.dtypes
X_noprice['item_condition_id'] = X_noprice['item_condition_id'].astype('category')
X_noprice['shipping'] = X_noprice['shipping'].astype('category')

In [21]:
#Split the category_name to sub categories
X_noprice['category_name'], X_noprice['subcat_1'], X_noprice['subcat_2'] = zip(*X_noprice['category_name'].apply(lambda x: x.split('/')))

In [22]:
X_noprice.head()

,item_condition_id,category_name,brand_name,shipping,item_description,price_bins,subcat_1,subcat_2
431736,3,Men,Jordan,0,Sz 10.5 Good preowned condition Includes origi...,LVLow,Shoes,Athletic
1482299,3,Women,Dooney & Bourke,1,D&B wallet with credit card slots and back coi...,LVLow,Women's Accessories,Wallets
764342,3,Women,Lululemon,0,This is a pair of size 6 speed tights in great...,LVLow,Athletic Apparel,"Pants, Tights, Leggings"
781985,2,Women,American Eagle,0,AEO off the shoulder top size XL,LVLow,Athletic Apparel,Shirts & Tops
590192,3,Women,Nike,1,Black and white pattern Gently used condition ...,LVLow,Athletic Apparel,"Pants, Tights, Leggings"

In [23]:
X_noprice.dtypes

item_condition_id    category
category_name          object
brand_name             object
shipping             category
item_description       object
price_bins           category
subcat_1               object
subcat_2               object
dtype: object

In [24]:
target = X_noprice['price_bins']

In [25]:
X_noprice = X_noprice.drop('price_bins',axis=1)

In [26]:
X_noprice.shape

(84610, 7)

In [27]:
tfidf_transformer = TfidfVectorizer(max_features=50000,ngram_range=(1,1),stop_words='english')

In [28]:
item_desc_vect = tfidf_transformer.fit_transform(X_noprice['item_description'])
brand_vect = tfidf_transformer.fit_transform(X_noprice['brand_name'])
cat_vect = tfidf_transformer.fit_transform(X_noprice['category_name'])
subcat_1_vect = tfidf_transformer.fit_transform(X_noprice['subcat_1'])
subcat_2_vect = tfidf_transformer.fit_transform(X_noprice['subcat_2'])

In [29]:
type(subcat_1_vect)

scipy.sparse.csr.csr_matrix

In [30]:
X_dummies = scipy.sparse.csr_matrix(pd.get_dummies(X_noprice[["item_condition_id", "shipping"]], sparse=True).values)

In [31]:
print("Item description shape:",item_desc_vect.shape)
print("brand name shape:",brand_vect.shape)
print("category name shape:",cat_vect.shape)
print("subcategory 1 shape:",subcat_1_vect.shape)
print("subcategory 2 shape:",subcat_2_vect.shape)

Item description shape: (84610, 33656)
brand name shape: (84610, 2634)
category name shape: (84610, 11)
subcategory 1 shape: (84610, 117)
subcategory 2 shape: (84610, 620)

In [32]:
X = scipy.sparse.hstack((X_dummies,item_desc_vect,brand_vect,cat_vect,subcat_1_vect,subcat_2_vect)).tocsr()

In [33]:
# X is Combined matrix of all the vectors
X.shape

(84610, 37045)

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,target,random_state=0)

In [35]:
print("Train shape:",X_train.shape)
print("Test shape:",X_test.shape)

Train shape: (63457, 37045)
Test shape: (21153, 37045)

In [36]:
target.shape
y_train.shape
y_test.shape

(21153,)

In [37]:
y_train.head()

1312383    LVLow
375433     LVLow
907837     LVLow
1025567     LLow
937808     LVLow
Name: price_bins, dtype: category
Categories (10, object): [LVLow < UVLow < LLow < ULow ... LHigh < UHigh < LVHigh < UVHigh]

## Modelling

In [38]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB().fit(X_train, y_train)
pred=clf.predict(X_train)
print(y_train.value_counts())
from sklearn.metrics import confusion_matrix
prediction=confusion_matrix(y_train,pred)

LVLow      62822
UVLow        506
LLow          81
ULow          22
LMedium       15
UVHigh         4
UMedium        3
UHigh          2
LHigh          2
LVHigh         0
Name: price_bins, dtype: int64

In [39]:
print(prediction)

[[    0     0     0     2     0     0     0     0     0]
 [    0     0     0    78     0     0     0     0     3]
 [    0     0     0    15     0     0     0     0     0]
 [    0     0     0 62807     0     0     0     0    15]
 [    0     0     0     2     0     0     0     0     0]
 [    0     0     0    21     0     0     0     0     1]
 [    0     0     0     3     0     0     0     0     0]
 [    0     0     0     4     0     0     0     0     0]
 [    0     0     0   495     0     0     0     0    11]]

In [40]:
#Metrics
from sklearn.metrics import recall_score, precision_score, accuracy_score
acc=accuracy_score(y_train,pred)
rec=recall_score(y_train,pred,labels=['LVLow','UVLow','LLow','ULow','LMedium','UVHigh','UMedium','UHigh','LHigh','LVHigh'],average='micro')
prec=precision_score(y_train,pred,labels=['LVLow','UVLow','LLow','ULow','LMedium','UVHigh','UMedium','UHigh','LHigh','LVHigh'],average='micro')

In [41]:
print("Accuracy using Micro",acc*100)
print("Recall: using Micro",rec*100)
print("Precision:using Micro",prec*100)

Accuracy using Micro 98.9930188947
Recall: using Micro 98.9930188947
Precision:using Micro 98.9930188947

In [42]:
#Predictions on test data, X_test
test_preds = clf.predict(X_test)

In [43]:
print(test_preds)

['LVLow' 'LVLow' 'LVLow' ..., 'LVLow' 'LVLow' 'LVLow']

In [44]:
test_predictions = confusion_matrix(y_test,test_preds)
print(test_predictions)
print(y_test.value_counts())

[[    0     0     0     1     0     0     0]
 [    0     0     0    28     0     0     0]
 [    0     0     0     1     0     0     0]
 [    0     0     0 20938     0     0     7]
 [    0     0     0     6     0     0     0]
 [    0     0     0     3     0     0     0]
 [    0     0     0   168     0     0     1]]
LVLow      20945
UVLow        169
LLow          28
ULow           6
UMedium        3
LHigh          1
LMedium        1
UVHigh         0
LVHigh         0
UHigh          0
Name: price_bins, dtype: int64

In [45]:
acc=accuracy_score(y_test,test_preds)
rec=recall_score(y_test,test_preds,labels=['LVLow','UVLow','LLow','ULow','LMedium','UVHigh','UMedium','UHigh','LHigh','LVHigh'],\
                 average='micro')
prec=precision_score(y_test,test_preds,labels=['LVLow','UVLow','LLow','ULow','LMedium','UVHigh','UMedium','UHigh','LHigh','LVHigh'],\
                     average='micro')
print("Test Accuracy using Micro",acc*100)
print("Test Recall: using Micro",rec*100)
print("Test Precision:using Micro",prec*100)

Test Accuracy using Micro 98.9883231693
Test Recall: using Micro 98.9883231693
Test Precision:using Micro 98.9883231693

In [46]:
Results = pd.DataFrame()
Results['Train_Actuals'] = y_train
Results['Train_predictions'] = pred

In [47]:
Test_Results = pd.DataFrame()
Test_Results['Test_Actuals'] = y_test
Test_Results['Test_predictions'] = test_preds

In [48]:
Results.head()

        Train_Actuals Train_predictions
1312383         LVLow             LVLow
375433          LVLow             LVLow
907837          LVLow             LVLow
1025567          LLow             LVLow
937808          LVLow             LVLow

In [49]:
Test_Results.head()

        Test_Actuals Test_predictions
1074401        LVLow            LVLow
370950         LVLow            LVLow
469604         LVLow            LVLow
1014695        LVLow            LVLow
506488         LVLow            LVLow

## Regression Modelling - predicting target by considering price

In [50]:
X.shape

(84610, 37045)

In [51]:
target_p = df['price']

In [52]:
X_train,X_test,y_train,y_test = train_test_split(X,target_p,random_state=0)

In [53]:
X_train.shape

(63457, 37045)

In [54]:
X_test.shape

(21153, 37045)